@import "../../node_modules/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic-ext');
@import "functions";

*, :after, :before {
  box-sizing: border-box;
}

$grid-gutter: 10px;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-main: 'Roboto', sans-serif;
$font-size-base: 18px;
$font-size-small: 16px;
$font-size-smaller: 15px;
$font-size-smallest: 13px;
$color-red: #c20d19;
$color-yellow: #f9a302;
$color-background-gray: #F0F0F0;
$transition-main: 0.25s ease-in-out;
$transition-micro: 0.13s linear;

@mixin row($gutter: $grid-gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;

  &_items-bottom {
    align-items: flex-end;
  }

  &_items-center {
    align-items: center;
  }
}

[class^="col"] {
  position: relative;
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
}

@mixin col($size:0) {
  @if ($size == 0) {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  } @else {
    flex: 0 0 percentage($size / 12);
    max-width: percentage($size / 12);
  }
}

@mixin col-offset($offset) {
  margin-left: percentage($offset / 12);
}

@mixin container($gutter: $grid-gutter) {
  width: 100%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
  min-width: 980px;
}

@mixin button($color, $hoverColor:false) {
  $hover: darken($color, 5%);

  @if ($hoverColor) {
    $hover: $hoverColor;
  }

  $active: darken($hover, 5%);

  background: $color;
  color: readable($color);
  &:hover {
    background: $hover;
    color: readable($color);
  }
  &:active {
    background: $active;
    color: readable($color);
  }
}


*::selection {
  background-color: $color-red;
  color: white
}

;

.align_center {
  text-align: center;
}


html {
  font-size: $font-size-base;
}

body {
  min-height: 100vh;
  color: #4b4a4b;
  font-size: 1rem;
  font-family: $font-family-main;
}

h1 {
  padding: 37px 0px 17px 0px;
  font-size: 25px;
  font-family: $font-family-condensed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;

  & > li {
    margin-bottom: 10px;
  }

  & > li:before {
    margin-left: -20px;
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    background-color: $color-red;

  }
}

h2 {
  font-family: $font-family-condensed;
}

h4 {

  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  line-height: 125%;
  margin-top:0;
}

// Button
.button {
  transition: all $transition-main;
  cursor: pointer;
  padding: 0 15px;
  height: 48px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: $font-size-smaller;

  @include button(gray);

  &_primary {
    @include button($color-red);
  }

  &_block {
    width: 100%;
    display: block;
  }

  &:disabled{
    opacity:0.5;
    cursor:not-allowed;
  }
}


address{
  display:inline;
  font-style:normal;
}
// Forms and controls
.form-control {

  margin-bottom: 15px;

  &__error {
    color: red;
    padding-top: 5px;
    font-size: $font-size-smallest;

  }

}

.label {
  font-size: $font-size-small;
  display: inline-block;
  margin-bottom: 7px;

  &_required {
    &:after {
      content: '*';
      padding-left: 5px;
      color: red;
    }
  }
}

.input {
  font-size: $font-size-smaller;
  height: 48px;
  transition: border $transition-micro;
  border-radius: 5px;
  padding: 0 8px;
  border: 2px solid $color-background-gray;
  width: 100%;

  &_error {
    border-color: $color-red;
    color: red;
  }

  &:focus {
    color: initial;
    outline: none;
    border-color: $color-red;
  }


}

textarea.input {
  height: initial;
  padding: 8px;
}

.form-requirements-left{
  font-size:$font-size-smallest;
}


// Grid
.container {
  @include container();
}

.row {
  @include row();

  &_no-gutters {
    @include row(0);
  }

  &_items-end {
    align-items: flex-end;
  }
}

.col {

  &_auto {

    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

  }

  @include col();

  @for $i from 1 through 12 {
    &_#{$i} {
      @include col($i);
    }

    &_offset-#{$i} {
      @include col-offset($i);
    }
  }

}

// Link
.link {

  &[href^="#"] {
    cursor: text;
  }

  transition: all $transition-micro;
  color: $color-red;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }



  &_decorated {
    text-decoration: underline;
  }

  &_js{
    @extend .link_undecorated;
    cursor:pointer;
    border-bottom:1px dashed $color-red;

    &:hover{

    }
  }

  &_undecorated {
    text-decoration: none;

    &:hover, &:active {
      text-decoration: none;
    }
  }


  &_plain {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
  }

  &[href^="tel"] {
    cursor: initial;
    @extend .link_plain;
    display: inline-block;
  }
}


// Common mixins
%list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

%link-unstyled {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  text-decoration: none;
}

// Top menu
.top-menu {
  background: #e2e3e5;
  background: linear-gradient(to bottom, #e2e3e5 0%, #c4c6c5 100%);
  z-index: 99;

  &__items {
    @include row();
    list-style: none;

  }

  &__item {
    font-size: $font-size-smaller;
    height: 45px;
    display: flex;
    align-items: center;

    &_active {
      background-color: #f5f5f5;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__subnav-container {
    position: absolute;
    top: 45px;
    padding-top: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all $transition-main;
    transform: translateY(-15px);
    z-index: 999;

    &_visible {
      pointer-events: initial;
      opacity: 1;
      display: inline-block;
      transform: none;
    }
  }

  &__link {
    @extend %link-unstyled;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b4a4b;
    padding: 0 30px;
    height: 100%;
  }
}

// Sections menu
.sections-menu {
  background: #f5f5f5;
  display: block;
  padding: 10px 0;

  &__link {
    @extend %link-unstyled;

    display: block;
    margin-left: 15px;
    line-height: 20px;
    padding: 2px 5px;
    transition: all $transition-micro;

    &:hover {
      background: $color-red;
      color: white;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 0.8888888rem;
    padding: 5px 15px;
    margin: 5px 0;

    background: #d6d6d6;
    letter-spacing: 0.027rem;

  }
}

// Company logo
.company-logo {
  background: url("../assets/twf-logo-d_BMT.png");
  width: 340px;
  height: 67px;
  margin: 5px 0;
  background-position: center;
  background-repeat: no-repeat;
}

//Company slogan
.company-slogan {
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-family: $font-family-condensed;
}

//Heading
.heading {
  padding: 30px 0;
  margin-bottom: 15px;
  background: url("../assets/hintergrundverlauf.jpg");

  background-size: cover;
  background-position: center;

}

// Index-nav
.index-nav {
  padding: 25px 0;
  align-items: flex-end;
  justify-content: center;
}

.index-nav-item {
  font-size: $font-size-small;
  @extend %link-unstyled;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  filter: grayscale(1);
  transition: all $transition-main;

  &:hover {
    filter: none;
    color: $color-red;
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__label {
    text-transform: uppercase;
    height: 40px;
    line-height: 20px;
    margin-bottom: 33px;
  }
}

// Index-article
.index-feed {
  background-color: $color-background-gray;

  &__item {
    margin-bottom: 30px;
  }
}

.index-article {
  padding: 50px 0;
  background: white;

  &__content {
  }

  &__images {
  }

  &__image {
  }

  &__paragraph {
    max-width: 350px;
    line-height: 25px;
  }
}

.footer-topper {
  padding: 50px 0;
  background: $color-background-gray;
}

.footer-final {
  padding: 50px 0;

  &__copyright {
    text-align: right;
  }


}

.footer-nav {

  &__item {
    margin-right: 30px;
  }
}

// Inner-page-title
.page-title {
  &:before {
    content: '►';
    display: inline-block;
    color: $color-red;
  }

  margin-top: 20px;

  &__current {
    display: inline-block;
    color: $color-red;
  }
}


// Shoring-select
.shoring-select {
  background: $color-background-gray;
  padding-bottom: 25px;

  &__row {
  }

  &__shorings {
    position: absolute;
    left: 80px;
    right: 40px;
    top: -3px;
    z-index: 2;
  }


  &__description {

  }

  &__additional {

  }

  &__shoring {
    filter: grayscale(100%);

    &:hover, &_active {
      filter: none;
    }

    background: white;
    transition: all $transition-main;
  }


  &__rows {
    z-index: 1;
  }

  &__cta {
    padding: 15px 0;
  }

}

.shoring-select-row {
  background: $color-background-gray;
  height: 29px;

  &:not(:last-child) {
    border-bottom: 2px solid white;
  }

  position: relative;

  $topColor: #acadac;
  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      background-color: lighten($topColor, 3*$i)
    }
  }

  &__label {
    line-height: 29px;
    display: block;
    font-weight: bold;
    font-size: $font-size-smallest;
    background: #fae107;
    width: 50px;
    text-align: center;
    height: 100%;
  }
}

.shoring-select-description {
  border: 1px solid $color-red;
  background: #fff;
  border-radius: 5px;

  line-height: 25px;

  padding: 5px 15px;
  font-size: $font-size-smaller;

  &__model, &__separator {
    color: $color-red;
    font-weight: bold;
  }

  &__sentence {
  }

}

.additional-shoring {
  padding: 25px 5px;
  text-align: center;

  &__image {
  }

  &__label {
    display: block;
  }
}

// Product
.product {
  padding: 25px 0;


  &__related {
    padding: 30px 0;
  }

  &__info {
    & > p {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }

    padding-right: 50px;
  }

  &__documents {
    padding: 30px 0;
  }

  &__document {
    border-bottom: 1px solid $color-background-gray;

    &:not(:last-child) {
      border-top: 1px solid $color-background-gray;

    }
  }

  &__images {
    padding-top: 100px;
  }
}

.product-document {
  padding: 25px 0;

  &__description {
    padding: 0 25px;
  }
}

.icon {
  &_m {
    height: 60px;
  }


}

span.highlight {
  color: $color-red;
}

.piling-driling-nav {
  background: $color-background-gray;
}

.nav-element {
  display: block;
  text-align: center;
  padding: 20px 0;


  img {
    height: 80px;

  }

  span {
    padding-top: 10px;
    display: block;
  }

  &_large {
    img {
      height: 195px;
    }
  }
}

.sheet-piles-nav {
  background: $color-background-gray;
}

.page-content {
  padding: 50px 0;
}

.company-card {
  font-size:$font-size-small;
  margin: 10px;
  border: 1px dashed $color-background-gray;
  padding: 30px;

  &__row {
    padding-bottom: 25px;
  }
}





